@import "tailwindcss";

button {
  cursor: pointer;
}

.metallic {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
}

.lock-scroll {
  height: 100%;
  overflow: hidden;
}
